body {
    background-color: #121212;
    color: #ffffff;
  }
  
  a {
    color: #bb86fc;
  }
  
  a:hover {
    color: #3700b3;
  }
  
  header, footer {
    background-color: #1f1f1f;
  }
  
  .btn {
    background-color: #bb86fc;
    color: #121212;
  }
  
  .btn:hover {
    background-color: #3700b3;
    color: #ffffff;
  }